.App {
  text-align: center;
  background-color: #010000;
}

main {
  
  min-height: 100vh;
  min-width: 100vw;
  padding: 50px;
}

nav {
  background-color: #010000;
  line-height: 2.5em;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 2em;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  color: #c63434;
}

nav a:hover {
  color: #580f0c;
}

h1, h4, h5, label {
  color: #f7efd8;
}

label {
  padding-right: 10px;
}

.red {
  color: red;
}

.logo {
  color: #c63434;
}

.movie{
  height: 50vh;
  width: 20vw;
  padding-top: 80px;
  text-align: center;
  background: pink;
  color: #FFF;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  box-sizing: border-box;
}
.cardContainer{
  top: 28vh;
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: middle;
}

.movieTitle{
  background-color: rgba(0,0,0,0.7)
}

.movie-card-container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  height: 35.5vh;
  margin: 0 auto 25px;
  width: 36vw;
}

.image-container {
  -webkit-clip-path: circle(90% at 30px 30px);
  clip-path: circle(90% at 30px 30px);
  flex: 4;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
}

.movie-info {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  padding: 30px 20px 30px 0;
  z-index: 1;
}

.movie-info h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.movie-info h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 20px 0 0;
}

.submit {
  background-color: #f7efd8;
  color: black;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.profile h2, h3, p {
  color: #f7efd8;
}

.profile h4 {
  color: black;
}

.link {
  color: #c63434;
  font-size: 20px;
}

.login {
  color: #c63434;
  /* height: 100vh;
  width: 100vw; */
  padding: 30px;
  width: 40em;
  margin: 0 auto;
}

.signup {
  color: #c63434;
  /* height: 100vh;
  width: 100vw; */
  padding: 30px;
  width: 40em;
  margin: 0 auto;
}

footer {
  background-color: #010000;
  bottom: 0;
  position: fixed;
  width: 100vw;
  color: #c63434;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
}


