.App {
  text-align: center;
}

main {
  padding: 50px 0;
}

footer {
  background-color: #282c34;
  bottom: 0;
  position: fixed;
  width: 100vw;
  color: white;
  font-size: 16px;
  padding: 15px;
}

nav {
  background-color: #282c34;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: mediumspringgreen;
}

nav a:hover {
  color: hotpink;
}

.red {
  color: red;
}


.movie{
  height: 50vh;
  width: 20vw;
  padding-top: 80px;
  text-align: center;
  background: pink;
  color: #FFF;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  box-sizing: border-box;
}
.cardContainer{
  top: 28vh;
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: middle;
}

.movieTitle{
  background-color: rgba(0,0,0,0.7)
}