.App {
  text-align: center;
}

main {
  padding: 50px 0;
}

footer {
  background-color: #282c34;
  bottom: 0;
  position: fixed;
  width: 100vw;
  color: white;
  font-size: 16px;
  padding: 15px;
}

nav {
  background-color: #282c34;
  padding: 2px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  color: white;
  margin-right: 25px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: mediumspringgreen;
}

nav a:hover {
  color: hotpink;
}

.red {
  color: red;
}

.logo {
  margin: 0 auto;
}

.movie{
  height: 50vh;
  width: 20vw;
  padding-top: 80px;
  text-align: center;
  background: pink;
  color: #FFF;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  box-sizing: border-box;
}
.cardContainer{
  top: 28vh;
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: middle;
}

.movieTitle{
  background-color: rgba(0,0,0,0.7)
}

.movie-card-container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  height: 40vh;
  margin: 0 auto 50px;
  width: 43vw;
}

.image-container {
  -webkit-clip-path: circle(90% at 30px 30px);
  clip-path: circle(90% at 30px 30px);
  flex: 4;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
}

.movie-info {
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  padding: 30px 20px 30px 0;
  z-index: 1;
}

.movie-info h2 {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.movie-info h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 20px 0 0;
}

/* .shows {
  text-align: center;
} */